#python
__pycache__/
*.pyc

#output files
*.ampdb
*.db
*.traj
*.amp
*.txt
*.pdf
*.OUTCAR
*.pt
*.gif
*.tar
*.out
*.pickle
*.png
*.json

amp_benchmark/
amptorch/sigopt/
amptorch/bench/*
datasets/*
md_work/*

.ipynb_checkpoints
*/checkpoints/*
stored-primes/
