#python
__pycache__/
*.pyc

#output files
*.ampdb
*.db
*.traj
*.amp
*.txt
*.pdf
*.OUTCAR
*.pt
*.gif
*.tar
*.out
*.pickle
*.png
*.json
*.eggs
*.egg-info

datasets/*
md_work/*

*wandb
.ipynb_checkpoints
*.ipynb
*processed*
*checkpoints*
*results*
*.lmdb*
.vscode/


#build/compiled_files
build/
amptorch/descriptor/Gaussian/_libsymf.abi3.so
amptorch/descriptor/GMP/_libgmp.abi3.so
amptorch/descriptor/GMPOrderNorm/_libgmpordernorm.abi3.so

# Sphinx documentation
docs/_build/

# documentation requirments as exceptions
!docs/requirements.txt
!docs/1D_water_PES.png
!examples/4_misc/predicted_1D_water_PES.png
!examples/4_misc/water_2d.traj
!.zenodo.json