#python
__pycache__/
*.pyc

#output files
*.ampdb
*.db
*.traj
*.amp
*.txt
*.pdf
*.OUTCAR
*.pt
*.gif
*.tar
*.out
*.pickle
*.png
*.json
*.eggs
*.egg-info

datasets/*
md_work/*

*/wandb/
.ipynb_checkpoints
*/processed/*
*/checkpoints/*
*/results/*

#build/compiled_files
*build/
amptorch/descriptor/Gaussian/_libsymf.abi3.so
amptorch/descriptor/MCSH/_libmcsh.abi3.so
